{#-
    This is a Tor client's v3 Onion service authentication
    configuration template.
-#}
{{ item.domain.split('.onion') | first }}:descriptor:{{ item.keyType | default('x25519') }}:{{ item.privkey }}
