{#-
    This is a Tor Onion service configuration template.

    See https://www.torproject.org/docs/tor-manual.html
    for more information.

    After certain blocks, `{{''}}` is used to ensure Ansible
    does not chomp newlines. See:
        https://stackoverflow.com/a/47418461
-#}
{% for onion in tor_onion_services_client_credentials %}
HidServAuth {{ onion.domain }} {{ onion.cookie }}{% if onion.comment is defined %} {{ onion.comment }}{% endif %}{{''}}
{% endfor %}
