HiddenServiceDir {{ tor_onion_services_dir }}/{{ item.value['name'] }}
HiddenServiceVersion {{ item.value['version'] }}
HiddenServicePort {{ item.value['virtport'] }} {{ item.value['target_addr'] }}:{{ item.value['target_port'] }}
{% if item.value['auth_type'] %}HiddenServiceAuthorizeClient {{ item.value['auth_type'] }} {{ item.value['clients'] | join(',') }}{% endif %}
