HiddenServiceDir {{ tor_onion_services_dir }}/{{ item.name }}
HiddenServicePort {{ item.virtport }} {{ item.target_addr }}:{{ item.target_port }}
HiddenServiceVersion {{ item.version }}
{% if item.auth_type %}HiddenServiceAuthorizeClient {{ item.auth_type }} {{ item.clients | join(',') }}{% endif %}
